{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
<body>
    <div class="wrapper">
        <div id="navbar2" class="pr-5 pl-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6">
                        <a href="{% url 'home' %}" id="meetme2">MEETME</a>
                    </div>
                    <div class="col-6">
                        <a href="{% url 'home' %}">HOME</a>
                        <a href="#news">ABOUT</a>
                        <a href="#contact">SERVICES</a>
                        <a href="#contact">PORTFOLIO</a>
                        <a href="{% url 'article_list' %}">BLOG</a>
                        <a href="#contact">CONTACT</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid" id="container-img">
            <div class="row">
                <div class="col-7">
                    <div id="my_img" style="background-image: url('{% static 'images/WechatIMG206.jpeg' %}')">

                    </div>
                </div>
                <div class="col-5">
                    <div id="ambout_me" class="ml-5 mt-5">
                        <div class="ml-5">
                            <p class="titlename">HELLO EVERYBODY, I AM</p>
                        </div>
                        <div class="ml-5">
                            <h1 class="m-0 firstlastname">KHALIEV</h1>
                            <h1 class="firstlastname">MARUFJON</h1>
                        </div>
                        <div class="ml-5">
                            <h6 class="mt-3 titlename">PYTHON/DJANGO DEVELOPER</h6>
                        </div>
                        <div class="ml-5">
                            <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque placerat accumsan
                                nibh, at efficitur elit fermentum nec.</p>
                        </div>
                        <div class="ml-5 mt-5">
                            <a href="#" class="text-decoration-none text-secondary"><i class="fa fa-calendar-o mr-3" aria-hidden="true"></i>26 th April, 1991</a>
                        </div>
                        <div class="ml-5 mt-3">
                            <a href="#" class="text-decoration-none text-secondary" ><i class="fa fa-phone mr-3" aria-hidden="true"></i>+8613919780704</a>
                        </div>
                        <div class="ml-5 mt-3">
                            <a href="#" class="text-decoration-none text-secondary" ><i class="fa fa-envelope-o mr-3" aria-hidden="true"></i>marufjon_1991@inbox.ru</a>
                        </div>
                        <div class="ml-5 mt-3">
                            <a href="#" class="text-decoration-none text-secondary" ><i class="fa fa-address-card-o mr-3" aria-hidden="true"></i>Beijing, JiangXi HuaDu</a>
                        </div>
                        <div class="icon-bar mt-5 ml-5">
                            <a href="#" class="facebook mr-2"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="google mr-2"><i class="fa fa-google"></i></a>
                            <a href="#" class="linkedin mr-2"><i class="fa fa-linkedin"></i></a>
                            <a href="#" class="youtube"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="about_my_self">
        <div class="row">
            <div class="col-5 offset-1">
                <div id="aboutmyself">
                    <h3>ABOUT MYSELF</h3>
                </div>
            </div>

        </div>
    </div>


{% endblock %}