{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
<body>
    <div class="wrapper">
        <div id="navbar2" class="pr-5 pl-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6">
                        <a href="{% url 'home' %}" id="meetme2">MEETME</a>
                    </div>
                    <div class="col-6">
                        <a href="{% url 'home' %}">HOME</a>
                        <a href="#news">ABOUT</a>
                        <a href="#contact">SERVICES</a>
                        <a href="#contact">PORTFOLIO</a>
                        <a href="{% url 'article_list' %}">BLOG</a>
                        <a href="#contact">CONTACT</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid" id="container-img">
            <div class="row">
                <div class="col-7">
                    <div id="my_img" style="background-image: url('{% static 'images/WechatIMG206.jpeg' %}')">

                    </div>
                </div>
                <div class="col-5">
                    <div id="ambout_me">
                        <div>
                            <p>HELLO EVERYBODY, I AM</p>
                        </div>
                        <div>
                            <h1>KHALIEV</h1>
                            <br>
                            <h1>MARUFJON</h1>
                        </div>
                        <div>
                            <h6>PYTHON/DJANGO DEVELOPER</h6>
                        </div>
                        <div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque placerat accumsan
                                nibh, at efficitur elit fermentum nec.</p>
                        </div>
                        <div>
                            <a href="#"><i class="fa fa-calendar-o mr-2" aria-hidden="true"></i>26 th April, 1991</a>
                        </div>
                        <div>
                            <a href="#"><i class="fa fa-phone mr-2" aria-hidden="true"></i>+8613919780704</a>
                        </div>
                        <div>
                            <a href="#"><i class="fa fa-envelope-o mr-2" aria-hidden="true"></i>marufjon_1991@inbox.ru</a>
                        </div>
                        <div>
                            <a href="#"><i class="fa fa-address-card-o mr-2" aria-hidden="true"></i>Beijing, JiangXi HuaDu</a>
                        </div>
                        <h4>hello world</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="about_my_self">
        <div class="row">
            <div class="col-5 offset-1">
                <div id="aboutmyself">
                    <h3>ABOUT MYSELF</h3>
                </div>
            </div>

        </div>
    </div>


{% endblock %}