body {
  margin: 0;
  background-color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
}

*{
    box-sizing:border-box;
}
.wrapper{
    width:100%;
    height:700px;
    background-color:#7877FE;
    background-image: linear-gradient(90deg, #7877FE, #7A81FF, #7D95FF, #81ABFF, #84BDFF, #85CAFF, #85D6FF, #87DEFF, #87E6FF, #88F0FE)
}

#navbar {
  z-index: 2;
  background-color: black;
  position: fixed;
  top: -100px;
  width: 100%;
  display: block;
  transition: top 0.3s;
}

#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 14px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#meetme {
    font-size:22px!important;
    padding:14px!important;
}

#meetme2{
    font-size:22px!important;
    padding:14px!important;
}

#navbar2 {
  width: 100%;
  display: block;
}

#navbar2 a {
  margin-top: 30px;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 14px;
}

#container-img{
    position: absolute;
    width: 80%;
    height: 700px;
    background-color:#f1f1f1;
    left: 10%;
    top: 30%;
    border-radius: 15px;
    padding: 25px;
}

#my_img{
border-radius: 15px;
    margin-top: 10px;
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
}

#aboutmyself{
    margin-top: 250px;
}

#aboutmyself h3{
    font-weight: bold;
}

#my-skills{
    margin-top: 250px;
    margin-bottom: 150px;
}

#my-skills h3{
    font-weight: bold;
}

.firstlastname{
    font-weight: bold;
}

.titlename{
    font-weight: bolder;
}

.icon-bar a {
  display: inline;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}
.facebook {
  background: #3B5998;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}
.youtube {
  background: #bb0000;
  color: white;
}

* {box-sizing: border-box}

.container-skills {
  width: 100%;
  background-color: #ddd;
  border-radius:15px;
}

.skills {
  text-align: right;
  color: white;
  border-radius:15px;
}

.html {width: 90%; background-color:#7877FE;
    background-image: linear-gradient(90deg, #7877FE, #7A81FF, #7D95FF, #81ABFF, #84BDFF, #85CAFF, #85D6FF, #87DEFF, #87E6FF, #88F0FE)}
.css {width: 80%; background-color:#7877FE;
    background-image: linear-gradient(90deg, #7877FE, #7A81FF, #7D95FF, #81ABFF, #84BDFF, #85CAFF, #85D6FF, #87DEFF, #87E6FF, #88F0FE)}
.js {width: 65%; background-color:#7877FE;
    background-image: linear-gradient(90deg, #7877FE, #7A81FF, #7D95FF, #81ABFF, #84BDFF, #85CAFF, #85D6FF, #87DEFF, #87E6FF, #88F0FE)}
.python {width: 60%; background-color:#7877FE;
    background-image: linear-gradient(90deg, #7877FE, #7A81FF, #7D95FF, #81ABFF, #84BDFF, #85CAFF, #85D6FF, #87DEFF, #87E6FF, #88F0FE)}
.django {width: 60%; background-color:#7877FE;
    background-image: linear-gradient(90deg, #7877FE, #7A81FF, #7D95FF, #81ABFF, #84BDFF, #85CAFF, #85D6FF, #87DEFF, #87E6FF, #88F0FE)}

#about-myself{
    background-color: #FEFEFE;
}

.first-col, .second-col, .third-col{
    padding: 10px;
    border: 1px solid #EDEEEE;
}
.first-col h4, .second-col h4, .third-col h4{
    font-weight: bold;
    padding-top:5px;
    padding-bottom: 5px;
}


.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.bg-timeline{
    background-color:#7877FE;
    background-image: linear-gradient(90deg, #7877FE, #7A81FF, #7D95FF, #81ABFF, #84BDFF, #85CAFF, #85D6FF, #87DEFF, #87E6FF, #88F0FE)
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container-timeline {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container-timeline::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #98BEFF;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }

  /* Full-width containers */
  .container-timeline {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container-timeline::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
}